<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    />

    <title>Admin</title>
    <style>
      .navbar {
        background-color: #007bd4;
      }
      .nav-link {
        color: white;
        padding-left: 10px;
      }
      .nav-link:hover {
        color: white;
        text-decoration: underline;
      }
      .username {
        padding-left: 10px;
        font-weight: bold;
        color: #2b2b2b;
      }
      .table {
        margin: auto;
        width: 100%;
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <a
        class="navbar-brand"
        href="/"
        style="color: white; font-weight: bold; padding-left: 10px"
        >Animal Shelter</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin/reserved_animals"
              >Reserved Animals</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <font class="username">Welcome: </font
    ><span class="username" th:text="${#authentication.getName()}"></span>

    <br /><br />
    <center>
      <h5 style="font-family: 'cooper'">Add Animal</h5>
    </center>
    <br />
    <center>
      <div style="width: 40%">
        <form
          name="myForm"
          th:action="@{/admin/add_animal_form}"
          method="POST"
          th:object="${animal}"
        >
          <div class="row">
            <div class="col">
              <label>Name</label>
              <input
                type="text"
                placeholder="Name"
                class="form-control"
                th:field="*{name}"
              />
            </div>
            <span
              th:if="${#fields.hasErrors('name')}"
              th:errorclass="error"
              th:errors="*{name}"
              style="color: red"
            ></span>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <label>Identification code</label>
              <input
                type="text"
                placeholder="Identification code"
                class="form-control"
                th:field="*{identification_code}"
                id="idf_code"
              />
              <span style="color: red" id="idf_code_error"></span>
              <span
                th:if="${#fields.hasErrors('identification_code')}"
                th:errorclass="error"
                th:errors="*{identification_code}"
                style="color: red"
              ></span>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <label>race</label>
              <input
                type="text"
                placeholder="race"
                class="form-control"
                th:field="*{race}"
                id="race"
              />
              <span
                th:if="${#fields.hasErrors('race')}"
                th:errorclass="error"
                th:errors="*{race}"
                style="color: red"
              ></span>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <label>Sex</label>
              <select required name="sex" class="form-control">
                <option value="Female">Female</option>
                <option value="Male">Male</option>
              </select>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <label>Date of birth</label>
              <input
                type="date"
                required
                name="dob"
                class="form-control"
                th:value="${#dates.format(#dates.createNow(),'yyyy-MM-dd')}"
              />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <label>Medical expenses</label>
              <input
                type="number"
                required
                name="medical_expense"
                class="form-control"
                placeholder="Medical Expense"
                value="0"
              />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <label>Breed</label>
              <select class="form-control" name="breed">
                <option selected value="No">No</option>
                <option value="Yes">Yes</option>
              </select>
            </div>
          </div>
          <br />

          <div class="row">
            <div class="col">
              <label>Can be used with young children</label>
              <input
                type="checkbox"
                name="can_be_used_with_young_children"
                value="true"
              />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <label>Can be used with older children</label>
              <input
                type="checkbox"
                name="can_be_used_with_older_children"
                value="true"
              />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <label>Can with cats</label>
              <input type="checkbox" name="can_with_cats" value="true" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <label>Can with dogs</label>
              <input type="checkbox" name="can_with_dogs" value="true" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <label>Suitable as an indoor cat</label>
              <input
                type="checkbox"
                name="suitable_as_an_indoor_cat"
                value="true"
              />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </center>
  </body>
</html>
